<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
     <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>

  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
   <modules>
     <module assemblyFile="HI.VirtualDesk.GUI.dll" moduleType="HI.VirtualDesk.GUI.ModuleInit, HI.VirtualDesk.GUI" moduleName ="GUI" startupLoaded="true"/>
   </modules>
</configuration>